    <!-- Footer
================================================== -->
    <footer class="bs-docs-footer">
        <div class="container">
            <p>Content ©2017 付亚军</p> 
        </div>
    </footer>

    <!-- Bootstrap core JavaScript
================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{site.baseurl}}/js/jquery.min.js"></script>
    <script src="{{site.baseurl}}/js/bootstrap.min.js"></script>
    <script src="{{site.baseurl}}/js/docs.min.js"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{{site.baseurl}}/js/ie10-viewport-bug-workaround.js"></script>