<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand" style="margin: 0;padding: 0">
                    <img src="{{site.baseurl}}/img/logo.png" alt="网站图标">
                </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav navbar-right" style="margin-top: 0;">
                <li><a href="http://ifjy.me/"><span class="glyphicon glyphicon-home"></span> 我的主页</a></li>
                <li><a href="http://blog.ifjy.me/"><span class="glyphicon glyphicon-user"></span> 我的博客</a></li>
                <li><a href="http://docs.ifjy.me/"><span class="glyphicon glyphicon-file"></span> 我的文档</a></li>
           </ul》>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
